body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #0a1f44, #06152b);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0,0,0,0.3);
}

.navbar a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
  background: 
    linear-gradient(rgba(10,31,68,0.8), rgba(10,31,68,0.9)),
    url('https://images.unsplash.com/photo-1552674605-db6ffd4facb5');
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 40px;
  text-shadow: 0 0 15px rgba(255,255,0,0.8);
}

.hero h2 {
  color: yellow;
}

.btn {
  padding: 12px 30px;
  background: yellow;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

/* COUNTDOWN */
.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 40px;
}

.countdown div {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,150,255,0.5);
}

/* CATEGORY */
.category {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  padding: 25px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 120px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
